.episodes {
    width: 70%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* background-color: white; */
    border-radius: 10px;
}

.episodes-h1 {
    text-align: left;
}