/* Start Latest Products */

.latest-porducts {
    width: 60%;
    margin: 3rem auto;
}

.latest-porducts-h1 {
    font-size: 40px;
}

.latest-products-products {
    display: grid;
    gap: 1rem;
}

.latest-products-products-product-top {

}

.latest-products-products-product-bottom {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.latest-products-products-product-bottom img {
    width: 100%;
    height: 100%;
}

/* End Latest Products */