header {
    width: 100%;
    background-color: #ff008f;
}

.header-container {
    /* height: 90px; */
    display: flex;
    align-items: center;
    background-color: #ffffffbf;
}

.header-links {
    margin-left: 10rem;
}

.header-links ul {
    display: flex;
}

.header-links ul li {
  list-style: none;
  margin-right: 3rem;
  font-size: 25px;
  font-weight: bold;
}

.header-links ul li a {
  text-decoration: none;
  color: black;
}

.header-search-social {
    margin-left: auto;
}

.header-search-social input {
    /* border-radius: 20px; */
    border: 1px solid white;
    margin-right: 5rem;
    width: 65px;
}

/* Search Input */

*{
    box-sizing: border-box;
  }
  /* body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #130f40;
    font-family: 'Lato' !important;
  } */
  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    /* background-color: #22a6b3; */
    background-color: black;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    /* color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100; */
    color: #FFF;


  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    /* width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); */


    width: 300px;
    background-color: transparent;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    border: 1px solid black;
    color: black;
  }
  .input-search:focus{
    /* width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); */
  
    width: 300px;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  
  }

.input-icon {
  position: relative;
}

.input-icon .icon {
  position: absolute;
  right: 6rem;
  top: 1rem;
  color: #FFF;
}