.recent-product-box-product {
    width: 90%;
    display: flex;
    gap: 50px;
}

.recent-product-box-product-img {
    width: 25rem;
    border-radius: 20px;
}

.recent-product-box-about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recent-product-box-about-title {

}

.recent-product-box-about-description {

}