/* Start Header */



.header-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.header-section-h1 {
    font-size: 65px;
}

.header-section-h1-span {
    font-size: 49px;
    font-weight: 400;
}

.header-section-covers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-section-covers img {
    width: 500px;
}

.header-section-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-section-bottom-more {

}
.header-section-bottom-more p {


}